.banner {
  margin-bottom: 20vh;
  .inner-banner{
    position: relative;
    margin-bottom: 50px;
    img {
      width: 100%;
    }
    .center-text {
      position: absolute;
      top: 34%;
      left: 44%;
      h4 {
        font: 600 80px/93.36px Jost;
        color: rgba(35, 22, 86, 1);
        text-align: center;
      }
    }
  }
  .article{
    max-width: 1240px;
    margin: 0px auto;
      .head{
          display: flex;
          justify-content: space-between;
          h4{
            font: 600 55px/55.66px Jost;
            color: rgba(181, 181, 181, 1);
            span{
                color: rgba(35, 22, 86, 1);
            }
        }
        .search{
            display: flex;
            gap: 10px;
            input{
                width: 400px;
                padding: 10px 30px;
                font: 400 20px/39.7px Open Sans;
                border: none;
                border-radius: 40px;
                box-shadow: 40px 48px 105px 0 rgba(235, 235, 235, 1);
                border: 1px solid;
                border: 1px solid #D1D1D1 ;
                &::placeholder{
                    font: 400 20px/39.7px Open Sans;
                }
            }
            button{
                font: 600 18px/28.8px Inter;
                color: rgba(255, 255, 255, 1);
                background-color: rgba(35, 22, 86, 1);
                border-radius: 50px;
                padding: 26px;
            }
        }
    }
  }
}
