header {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  .logo {
    img {
      width: 180px;
      height: 54px;
    }
  }
  nav {
    display: flex;
    ul {
      margin-right: 60px;
      /* list-style-type: none; */
      li {
        display: inline-block;
        padding: 18px 24px;
        a {
          font-family: Inter;
          font-size: 18px;
          font-weight: 500;
          line-height: 28.8px;
          color: rgba(35, 22, 86, 1);
        }
      }
    }
  }
  .signin {
    padding: 18px 20px;
    a {
      font-family: Inter;
      font-size: 18px;
      font-weight: 400;
      line-height: 28.8px;
      background: rgba(35, 22, 86, 1);
      color: rgba(255, 255, 255, 1);
      padding: 15px 34px;
      border-radius: 30px;
    }
  }
}
footer {
  main {
    position: relative;
    max-width: 1640px;
    margin: auto;
    .container-fluid {
      background: rgba(245, 245, 245, 1);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: auto;
      box-sizing: border-box;
      padding: 220px 70px 50px 70px;
      border-radius: 20px;
      .primepay {
        img {
          width: 187px;
          height: 57px;
          margin-bottom: 24px;
        }
        p {
          font-family: Open Sans;
          font-size: 20px;
          font-weight: 400;
          line-height: 32px;
          text-align: left;
          color: rgba(78, 78, 78, 1);
        }
        .icons {
          display: flex;
          gap: 20px;
          padding: 25px 0px;
          a{
            color: rgba(35, 22, 86, 1);
          }
        }
      }
      .menu {
        margin-left: 80px;
        &::before {
          content: "";
          border-left: 1px solid rgba(196, 196, 196, 1);
          height: 42%;
          position: absolute;
          left: 470px;
          top: 20;
        }
      }
      .menu,
      .u-page,
      .address {
        h4 {
          font-family: Jost;
          font-size: 30px;
          font-weight: 500;
          line-height: 30.36px;
          color: rgba(61, 50, 105, 1);
          margin-bottom: 16px;
        }
        a {
          font-family: Open Sans;
          font-size: 20px;
          font-weight: 400;
          line-height: 39.7px;
          text-align: left;
          color: rgba(78, 78, 78, 1);
        }
        .quote{
          margin: 16px 0px;
          a {
            font-family: Inter;
            font-size: 18px;
            font-weight: 400;
            line-height: 28.8px;
            text-align: left;
            color: rgba(255, 255, 255, 1);
            background: rgba(98, 95, 251, 1);
            padding: 10px 25px;
            border-radius: 30px;
          }
        }
      }
    }
    .rectangle {
      display: flex;
      justify-content: center;
      .inner-rectangle {
        background: url("../assets//Rectangle.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-around;
        padding: 70px 32px;
        border-radius: 20px;
        width: 1400px;
        position: absolute;
        top: -110px;
      }
      h2 {
        font-family: Jost;
        font-size: 54px;
        font-weight: 600;
        line-height: 55.66px;
        color: rgba(35, 22, 86, 1);
        span {
          color: rgba(255, 255, 255, 1);
        }
      }
      .input {
        display: flex;
        gap: 30px;
        justify-content: center;
        padding: 30px;
        height: min-content;
        input {
          font-family: Open Sans;
          font-size: 14px;
          font-weight: 400;
          line-height: 39.7px;
          text-align: left;
          color: rgba(78, 78, 78, 1);
          background: rgba(255, 255, 255, 1);
          border: none;
          border-radius: 72px;
          width: 250px;
          padding: 8px 5px 8px 24px;
        }
        button {
          font-family: Inter;
          font-size: 18px;
          font-weight: 400;
          line-height: 28.8px;
          text-transform: uppercase;
          color: rgba(255, 255, 255, 1);
          background: rgba(35, 22, 86, 1);
          padding: 8px 30px;
          border: none;
          border-radius: 72px;
        }
      }
    }
  }
  .olr{
    margin: 16px 0px;
    p{
      font-family: Open Sans;
      font-size: 20px;
      font-weight: 400;
      line-height: 39.7px;
      text-align: center;
      color: rgba(78, 78, 78, 1);
      span{
        font-family: Open Sans;
        font-size: 20px;
        font-weight: 700;
        line-height: 39.7px;
        text-align: center;
      }
    }
  }
  
}
