@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
}
.inner-container{
  max-width: 1240px;
  margin: 0px auto;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
.blog{
  margin-bottom: 30vh;
}